<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas</title>
</head>
<body>
    <h1>TAREFAS</h1>
    <ul ><% tarefas.forEach(function(tarefa) { %>
        <li>
            <a href="http://localhost:<%= port %>/tasks/<%= tarefa.id %>" onclick="getTask()">id: <%= tarefa.id %></a><br>
            Tarefa: <%= tarefa.description %><br>
            Feita: <%= tarefa.done %>
        </li><br>
    <% }); %>    
    </ul>
    

    <!-- <form action="/task/:id" method="post">
        <label for="team_name">Ingrese una tarefa: </label>
        <input id="team_name" type="text" name="name_field" value="">
        <input type="submit" value="Enviar">
    </form> -->
    
</body>
</html>